.main-wrapper {
  padding: 20px;
  height: min-content;
  overflow: hidden;
  scrollbar-width: none;
  max-width: 800px;
  margin: 0 auto;
  background-color: #222; /* Dark background for better contrast */
  color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.laser-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%; /* Ensures proper alignment */
}

/* Ensuring the "Starting Position" image stays centered */
.starting-image {
  text-align: center;
  padding: 20px;

  img {
    width: 85%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  p {
    font-style: italic;
    margin-top: 5px;
  }
}
