.gameCanvas {
  background-image: url("/assets/board.svg");
  background-size: cover;
  z-index: 0;
}

.guiCanvas {
  z-index: 1;
}

.canvasContainer {
  position: relative;
  width: min-content;
  height: min-content;
}
