<h1>{{parseGamePhase(game.gamePhase)}}
  <span *ngIf="game.gamePhase !== 'DRAW' && game.gamePhase !== 'NOT_STARTED'"
  [style.color]="game.whoseTurn === 'PLAYER_ONE' ? 'red' : 'blue'">
    ■
  </span>
</h1>
<div [style.width.px]="displayedContainerWidth" [style.height.px]="containerHeight">
<div class="float">
  <div class="boardText">
    <div class="sliders">
      <mat-slide-toggle (change)="changeAnimationShowOption()" [(ngModel)]="animation">Animations</mat-slide-toggle> <br />
      <mat-slide-toggle (change)="changeSoundOption()" [(ngModel)]="sounds">Sounds</mat-slide-toggle>
    </div>
    <div class="btns" *ngIf="isHandset && game.gamePhase === 'STARTED'">
      <button mat-icon-button matTooltip="Give up" (click)="game.giveUp()"><mat-icon>flag</mat-icon></button>
      <button mat-icon-button matTooltip="Offer draw" (click)="game.offerDraw()"><mat-icon>volunteer_activism</mat-icon></button>
    </div>
    <h3><i matTooltip="View profile"><a [routerLink]="['/users', game.playerNames[1]]">{{game.playerNames[1]}}</a></i>
      ({{game.playerRankings[1]}})
      <span *ngIf="game.playerRankingsChanges[1]" [ngStyle]="{'color': game.playerRankingsChanges[1] < 0 ? 'green' : 'red'}">
        {{game.playerRankingsChanges[1] < 0 ? "▲" + (game.playerRankingsChanges[1] * -1) : "▼" + game.playerRankingsChanges[1]}}
      </span>
    </h3>
  </div>
<div [style.width.px]="containerWidth" [style.height.px]="containerHeight" class="game-container">
  <canvas #canvas class="gameCanvas"></canvas>
</div>
<div class="boardText">
  <p></p>
<h3><i matTooltip="View profile"><a [routerLink]="['/users', game.playerNames[0]]">{{game.playerNames[0]}}</a></i>
  ({{game.playerRankings[0]}})
  <span *ngIf="game.playerRankingsChanges[0]" [ngStyle]="{'color': game.playerRankingsChanges[0] < 0 ? 'green' : 'red'}">
    {{game.playerRankingsChanges[0] < 0 ? "▲" + (game.playerRankingsChanges[0] * -1) : "▼" + game.playerRankingsChanges[0]}}
  </span>
</h3>
</div>
<div *ngIf="this.game.isInitiated">
<app-board-actions
(buttonPressEmitter)="buttonPressEvent($event)"
[containerHeight]="containerHeight" [containerWidth]="containerWidth"
[rotationPossible]="rotationPossibleInfo" [acceptPossible]="acceptPossibleInfo" [laserPossible]="laserPossibleInfo"
fxLayoutAlign="center"></app-board-actions>
</div>
</div>
<app-board-log class="float" #logs
*ngIf="!isHandset"
[gameState]="game.gameService.lastMessage"
[maxHeight]="containerHeight * 0.9"
[gameFinished]="game.gamePhase !== 'STARTED'"
[isSpectator]="isSpectator"
(gameLogEmitter)="buildEvent($event)"
(gameReturnEmitter)="returnToCurrentEvent()"
(giveUpEmitter)="game.giveUp()"
(drawEmitter)="game.offerDraw()"
></app-board-log>
<div style="clear: both"></div>
</div>

