<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Change Password</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="form" *ngIf="loggedIn" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width" apearance="standard" required>
                    <mat-label>Current Password</mat-label>
                    <input matInput formControlName="password" maxlength="30" [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        attr.aria-label="'Hide password'" attr.aria-pressed="hide">
                        <mat-icon class="icon-display">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="example-full-width" apearance="standard" required>
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="new_password" maxlength="30" [type]="hide2 ? 'password' : 'text'" >
                    <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                        attr.aria-label="'Hide password'" attr.aria-pressed="hide">
                        <mat-icon class="icon-display">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.errors?.['samePassword']">New password can't be the same as current password.</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" apearance="standard" required>
                    <mat-label>Retype New Password</mat-label>
                    <input matInput formControlName="retype_new_password" maxlength="30" [type]="hide3 ? 'password' : 'text'" 
                    [errorStateMatcher]="matcher">
                    <button type="button" mat-icon-button matSuffix (click)="hide3 = !hide3"
                        attr.aria-label="'Hide password'" attr.aria-pressed="hide">
                        <mat-icon class="icon-display">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.errors?.['samePassword'] && (form.touched || form.dirty)" >Passwords don't match</mat-error>
                </mat-form-field>

            </mat-card-content>

            <button mat-stroked-button color="accent" class="btn-block">Change Password</button>
            <div class="form-group">
            </div>

        </form>
    </mat-card>
</div>