<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Request password change</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="form" *ngIf="!loggedIn" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="standard" required>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" maxlength="30">
      
          </mat-form-field>

        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Send</button>
        <div class="form-group">
        </div>
  
      </form>
    </mat-card>
  </div>
