// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$custom-palette: (
	50: #000000,
  	100: #217180,
  	200: #3b8ca5,
	  contrast: (
    400: #292929, 
    500: #4a4b4b, 
    800: #f2fcff, 
    A400: #1c4f5c,
    A500: #2a8197  
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$laser-chess-frontend-primary: mat-palette($custom-palette,100);
$laser-chess-frontend-accent:  mat-palette($custom-palette,200);

// The warn palette is optional (defaults to red).
$laser-chess-frontend-warn: mat.define-palette(mat.$red-palette);



// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$laser-chess-frontend-theme: mat.define-light-theme((
  color: (
    primary: $laser-chess-frontend-primary,
    accent: $laser-chess-frontend-accent,
    warn: $laser-chess-frontend-warn,
  
  background-color: mat-palette($custom-palette,50))
));


// $laser-chess-frontend-theme: mat.define-dark-theme((
//   color: (
//     primary: $laser-chess-frontend-primary,
//     accent: $laser-chess-frontend-accent,
//     warn: $laser-chess-frontend-warn,
    
//   )
// ));
$laser-chess-frontend-theme: mat-dark-theme($laser-chess-frontend-primary,$laser-chess-frontend-accent, $laser-chess-frontend-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($laser-chess-frontend-theme);
@include angular-material-theme($laser-chess-frontend-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;

}

body {
	min-height: 100vh;
	background-color: #000000;
	font-family: 'Roboto', sans-serif;
}

.mat-app-background {
	background-color: black;
  }
.background-primary { background-color: #000000; }
.app-header {
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.main-wrapper {
	height: 100%;
	background-color: black;
}

.positronx {
	text-decoration: none;
	color: #000000;
}

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background: rgb(51, 51, 51);
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 330px;
}

.table-box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 10px 20px 10px 20px;
	width: 100%;
	background: rgb(51, 51, 51);
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 3;
	max-width: 400px;
}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
	
}

// .box:before {
// 	content: "";
// 	width: 100%;
// 	height: 30px;
// 	border-radius: 10px;
// 	position: absolute;
// 	top: -10px;
// 	background: rgba(15, 15, 15, 0.6);
// 	left: 0;
// 	transform: scale(.95);
// 	-webkit-transform: scale(.95);
// 	-ms-transform: scale(.95);
// 	z-index: -1;
// }

.main-wrapper .example-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.main-wrapper .example-full-width,
.main-wrapper .btn-block {
	width: 100%;
	appearance: standard;
}

.main-wrapper .mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
	margin-bottom: 30px;
}

.main-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.main-wrapper mat-card {
	padding: 45px 70px 55px;
}

.main-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #1f1f1f;
}

.red-player-card {
	background-color: #902b2b;
	font-size: 20px;
	border: 1px solid #410909;
}

.blue-player-card {
	background-color: #276380;
	font-size: 20px;
	border: 1px solid #103d53;
}

.start-game-button {
	transform: scale(1.6);
}

.leave-lobby-button {
	transform: scale(0.75);
}

.refresh-icon {
	cursor: pointer;
	position: center;
}

.mat-header-cell, .mat-cell {
	justify-content: center;
  }

  .mat-row .mat-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
  }

  .mat-row:hover .mat-cell {
	border-color: currentColor;
  }
  
  .hover-button:hover{
	background-color: #208d9725;
  }

  .menu {
	border-radius: 0px;
	margin-top: 13px;
  }


  