<div class="main-wrapper" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
  @if (!isOwner) {
    <div fxLayout="row" fxLayoutAlign="end start" fxFlex="20">
      <mat-icon [matMenuTriggerFor]="user">more_vert</mat-icon>
      <mat-menu class="menu" #user="matMenu" xPosition="before" [overlapTrigger]="false">
        @if (!isInFriends) {
          <button mat-menu-item (click)="sendRequest(username!)">
            Send friend request
          </button>
        }
        @if (isInFriends) {
          <button mat-menu-item (click)="unfriend(username!)">Unfriend</button>
        }
        @if (!isInBlocked) {
          <button mat-menu-item (click)="blockUser(username!)">Block</button>
        }
        @if (isInBlocked) {
          <button mat-menu-item (click)="unblockUser(username!)">Unblock</button>
        }
      </mat-menu>
    </div>
  }
  @if (isOwner) {
    <div
      fxLayout="row"
      fxLayoutAlign="end start"
      fxFlex="15"
      fxLayoutGap="20px"
    ></div>
  }
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="5" fxLayoutGap="20px">
    <h1>{{ username }}</h1>
    <h3>Rating :{{ rating }}</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly strech">
    <mat-card appearance="outlined" class="box">
      <mat-list>
        @if (!empty) {
          <h3 matLine>Statistics</h3>
        }
        <mat-list-item>Drawrate: {{ stats?.drawrate }}</mat-list-item>
        <mat-list-item>Draws: {{ stats?.draws }}</mat-list-item>
        <mat-list-item>Loses: {{ stats?.loses }}</mat-list-item>
        <mat-list-item>Winrate: {{ stats?.winrate }}</mat-list-item>
        <mat-list-item>Winrate as player 1: {{ stats?.winrate_as_p1 }}</mat-list-item>
        <mat-list-item>Winrate as player 2: {{ stats?.winrate_as_p2 }}</mat-list-item>
        <mat-list-item>Wins: {{ stats?.wins }}</mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card appearance="outlined" class="box">
      <h3 matLine>Game history</h3>
      <mat-table [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="Date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getDate(element.game_end_date) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Opponent">
          <mat-header-cell *matHeaderCellDef> Opponent </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getOpponent(element) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Result">
          <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getResult(element) }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="goToGame(row)"></mat-row>
      </mat-table>
    </mat-card>
  </div>
  @if (isOwner) {
    <div fxLayout="row" fxLayoutAlign="space-evenly strech">
      <mat-card appearance="outlined" class="box">
        <mat-list class="list">
          @if (!empty) {
            <h3 matLine>Friend list</h3>
          }
          @if (empty) {
            <h3 matLine>Friend list empty</h3>
          }
          @for (friend of friends; track friend) {
            <mat-list-item>
              <button mat-button (click)="goToProfile(friend)">{{ friend }}</button>
              <mat-icon class="icon-right" [matMenuTriggerFor]="friends">more_vert</mat-icon>
              <mat-menu class="menu" #friends="matMenu" xPosition="before" [overlapTrigger]="false">
                <button mat-menu-item (click)="goToProfile(friend)">Profile</button>
                @if (getIsInFriends(friend)) {
                  <button mat-menu-item (click)="unfriend(friend)">
                    Unfriend
                  </button>
                }
                @if (!getIsInBlocked(friend)) {
                  <button mat-menu-item (click)="blockUser(friend)">
                    Block
                  </button>
                }
                @if (getIsInBlocked(friend)) {
                  <button mat-menu-item (click)="unblockUser(friend)">
                    Unblock
                  </button>
                }
              </mat-menu>
            </mat-list-item>
          }
        </mat-list>
        <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input formControlName="input" matInput #box />
          </mat-form-field>
          <button mat-stroked-button color="accent" class="btn-block">Add friend</button>
        </form></mat-card
        >
        <mat-card appearance="outlined" class="box">
          @if (!empty_req) {
            <h3 matLine>Friend request list</h3>
          }
          @if (empty_req) {
            <h3 matLine>Friend request list empty</h3>
          }
          @if (isOwner) {
            <mat-list>
              @for (request of friendsRequests; track request) {
                <mat-list-item>
                  <a matLine>{{ request.user_one_username }}</a>
                  <button
                    mat-button
                    color="accent"
                    class="req-buttons"
                    (click)="acceptFriendRequest(request.id)"
                    >
                    Accept
                  </button>
                  <button
                    mat-button
                    color="warn"
                    class="req-buttons"
                    (click)="declineFriendRequest(request.id)"
                    >
                    Decline
                  </button>
                </mat-list-item>
              }
            </mat-list>
          }
        </mat-card>
      </div>
    }
    @if (!isOwner) {
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-evenly strech"></div>
    }
  </div>
