<div class="main-wrapper" fxLayout="column" fxLayoutGap="30px">

    <div class="container" fxLayout="column" fxLayoutAlign="center" fxFlex="5" fxLayoutGap="20px">
    <h1>{{username}} profile</h1>
    </div>
    <div class="userBox" fxLayoutAlign="space-evenly center">
        <div class="userMain">
          <img width="50%" src="assets/user-icon.png" />
          <h1><span [style.color]="user?.is_active ? 'green' : 'gray'">• </span> {{username}}</h1>
          <h3 class="rating">{{rating}}</h3>
        </div>
        <mat-list>
          <h3 matLine *ngIf="!empty"> Statistics </h3>
            <mat-list-item><h2>Draws: {{stats?.draws}} ({{(stats?.drawrate || 0) * 100}} %)</h2></mat-list-item>
            <mat-list-item><h2>Loses: {{stats?.loses}} ({{loseRate * 100}} %)</h2></mat-list-item>
            <mat-list-item><h2>Wins: {{stats?.wins}} ({{(stats?.winrate || 0) * 100}} %)</h2></mat-list-item>
        </mat-list>
    </div>

  <div fxLayoutAlign="space-evenly strech">

  <div class="actions" fxLayout="column" *ngIf="isOwner">
    <a href="settings/password" mat-stroked-button color="accent">Change password</a>
    <a href="settings" mat-stroked-button color="accent">Settings</a>
    <a href="settings/blocked_users" mat-stroked-button color="accent">Blocked users</a>
  </div>
  <div class="actions" fxLayout="column" *ngIf="!isOwner && this.authService.isLoggedIn()">
    <button mat-stroked-button *ngIf="!isInFriends" color="accent" (click)="sendRequest(username!)">Send friend request</button>
    <button mat-stroked-button *ngIf="isInFriends" color="accent" (click)="unfriend(username!)">Unfriend</button>
    <button mat-stroked-button *ngIf="!isInBlocked" color="accent" (click)="blockUser(username!)">Block</button>
    <button mat-stroked-button *ngIf="isInBlocked" color="accent" (click)="unblockUser(username!)">Unblock</button>
  </div>
  <div class="game-history">
    <h2 matLine > Game history  </h2>
    <mat-table [dataSource]="dataSource" class="table">

        <ng-container matColumnDef="Date">
          <mat-header-cell *matHeaderCellDef > Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getDate(element.game_end_date)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Opponent">
          <mat-header-cell *matHeaderCellDef > Opponent </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getOpponent(element)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Result">
          <mat-header-cell *matHeaderCellDef > Result </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getResult(element)}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToGame(row)"></mat-row>
      </mat-table>
      </div>
    </div>
    <div *ngIf="isOwner" fxLayoutAlign="space-evenly strech">

      <div class="friend-list">
        <mat-list class="list">
          <h2 matLine *ngIf="!empty">Friend list</h2>
          <h2 matLine *ngIf="empty">Friend list empty</h2>
            <mat-list-item *ngFor="let friend of friends">
                    <span [style.color]="friend.is_active ? 'green' : 'gray'">•</span>
                    <button mat-menu-item (click)="goToProfile(friend.username)">{{friend.username}}</button>
                    <button mat-icon-button matTooltip="Unfriend" *ngIf="getIsInFriends(friend.username)" (click)="unfriend(friend.username)"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button matTooltip="Block" color="warn" *ngIf="!getIsInBlocked(friend.username)" (click)="blockUser(friend.username)"><mat-icon>block</mat-icon></button>
                    <button mat-icon-button matTooltip="Unblock" *ngIf="getIsInBlocked(friend.username)" (click)="unblockUser(friend.username)"><mat-icon>add</mat-icon></button>
            </mat-list-item>
          </mat-list>

            <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input formControlName="input" matInput #box>
            </mat-form-field>
            <br />

            <button mat-stroked-button color="accent" class="btn-block">Add friend</button>
        </form></div>

        <div class="friend-requests">
          <h2 matLine *ngIf="!empty_req"> Friend request list  </h2>
          <h2 matLine *ngIf="empty_req"> Friend request list empty</h2>
        <mat-list *ngIf="isOwner">
            <mat-list-item *ngFor="let request of friendsRequests">
                <a matLine>{{request.user_one_username}}</a>
                <button mat-button color="accent" class="req-buttons" (click)="acceptFriendRequest(request.id)"> Accept </button>
                <button mat-button color="warn" class="req-buttons"  (click)="declineFriendRequest(request.id)"> Decline </button>
            </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
