<div *ngIf="fetched" class="main-wrapper" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-evenly stretch">
  <div *ngIf="fetched" fxFlex="40" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" >
    <mat-table [dataSource]="dataSource" class="table-box">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef > Game name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="player_one_username">
        <mat-header-cell *matHeaderCellDef > Player 1 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.player_one_username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="player_two_username">
        <mat-header-cell *matHeaderCellDef > Player 2 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.player_two_username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Mode">
        <mat-header-cell *matHeaderCellDef > Mode </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getMode(element.is_ranked)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="join">
        <mat-header-cell *matHeaderCellDef>
          <mat-icon mat-button class="refresh-icon" color="accent" (click)="refreshList()">refresh</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button class="hover-button" color="accent" (click)="joinLobby(row)">Join</button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row (click)="openLobby(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
  <div *ngIf="fetched" fxLayout="column" fxFlexAlign="center" fxFlex="20" fxLayoutGap="30px" fxLayoutAlign="center">
    <button mat-stroked-button color="accent" (click)="createLobby()">Start game</button>
    <button mat-stroked-button color="accent" (click)="createRankedLobby()">Start ranked game</button>
    <button mat-stroked-button color="accent" (click)="createPrivateLobby()">Start private game</button>
    <button mat-stroked-button color="accent" (click)="createPrivateRankedLobby()">Start private ranked game</button>
  </div>

</div>
