.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #000000;
}

.mat-toolbar.mat-primary {
  position: sticky;
  //top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
  padding: 1rem;
}

.menu a{
  display: inline-block !important;
  margin-right: 5px;
}