.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  //top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
  padding: 1rem;
}

.menu a{
  display: inline-block !important;
  margin-right: 5px;
}

.menu{
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-left: solid 1px white;
  border-right: solid 1px white;
  height: 100%; 
}
