<div class="main-wrapper" fxLayout="column" fxLayoutAlign="center">
    <div class="main-wrapper" fxFlex="20" fxLayout="row" fxLayoutAlign="end start">
        <button mat-stroked-button color="warn" class="leave-lobby-button" (click)="leaveLobby()"> Leave lobby </button>
    </div>
    <div class="main-wrapper" fxFlex="10" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="mat-card-lobby"> 
            <input class="input-box" #box (keyup.enter)="onEnter(box.value)" placeholder={{name}}> </mat-card>
    </div>
    <div class="main-wrapper" fxFlex="20" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center">
        <mat-card *ngIf="!player_one" class="red-player-card" (click)="joinLobby()">
            Join lobby
        </mat-card>
        <mat-card *ngIf="player_one" class="red-player-card">
            {{player_one}}
        </mat-card>
        <mat-card *ngIf="!player_two" class="blue-player-card" (click)="joinLobby()">
            Join lobby
        </mat-card>
        <mat-card *ngIf="player_two" class="blue-player-card">
            {{player_two}}
        </mat-card>
    </div>
    <div class="main-wrapper" fxFlex="20" fxFlexAlign="stretch" fxLayoutGap="30px" fxLayout="column"
        fxLayoutAlign="start center">
        <button mat-stroked-button disabled="!isPlayerOne" (click)="changePlayers()"> Change players </button>
    </div>
    <div class="main-wrapper" fxFlexAlign="center" fxFlex="20" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="mat-card-lobby"> {{isRanked}} </mat-card>
        <mat-card>
            <button mat-button disabled="!isPlayerOne" (click)="changePrivacy()">{{isPrivate}}</button>
             </mat-card>
    </div>
    <div class="main-wrapper" fxFlex="30" sfxLayout="column" fxLayoutAlign="center start">
        <button mat-stroked-button disabled="!isPlayerOne" color="accent" class="start-game-button" (click)="startGame()"> Start game </button>
    </div>

</div>
