
<button [matBadge]="unreadMessages" [matBadgeHidden]="unreadMessages < 1" *ngIf="!isOpened" mat-fab color="primary" (click)="openChat()">
  <mat-icon>chat_bubble</mat-icon>
</button>

<div *ngIf="isOpened" class="chat-box">

<div class="chat-header">
  <button mat-icon-button class="close-button" (click)="isOpened=false"><mat-icon>close</mat-icon></button>
</div>

<div class="message-container" #msg>
  <div *ngFor="let msg of messages" class="message" [ngClass]="isMyMessage(msg) ? 'my-message' : 'opponent-message'">{{msg.payload}}</div>
</div>

<mat-form-field *ngIf="myUsername" class="chat-input">
  <input matInput autocomplete="off" [(ngModel)]="message">
  <button mat-icon-button matSuffix (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</mat-form-field>
</div>
