<button
  mat-raised-button
  [disabled]="!rotationPossible"
  (click)="sendButtonPressInfo('left')"
  matTooltip="Rotate piece counter-clockwise"
  matTooltipPosition="above"
>
  <mat-icon>arrow_back</mat-icon>
</button>
<button
  mat-raised-button
  [disabled]="!laserPossible"
  (click)="sendButtonPressInfo('laser')"
  matTooltip="Fire laser"
  matTooltipPosition="above"
>
  <mat-icon>light_mode</mat-icon>
</button>
<button
  mat-raised-button
  [disabled]="!acceptPossible"
  (click)="sendButtonPressInfo('accept')"
  matTooltip="Confirm move"
  matTooltipPosition="above"
>
  <mat-icon>done</mat-icon>
</button>
<button
  mat-raised-button
  [disabled]="!rotationPossible"
  (click)="sendButtonPressInfo('right')"
  matTooltip="Rotate piece clockwise"
  matTooltipPosition="above"
>
  <mat-icon>arrow_forward</mat-icon>
</button>
