<!-- <mat-slide-toggle (change)="(!spectableHistory)" [(ngModel)]="spectableHistory"
>Animated</mat-slide-toggle
> -->
<br />
<div class="game-log-container" [style.height.px]="maxHeight">
  <div class="moves-table">
    @for (moveGroup of getMoveGroups(); track moveGroup; let groupIndex = $index) {
      <div class="move-row">
        <div class="turn-number">{{ groupIndex + 1 }}</div>
        <div class="move-cell red-moves">
          @if (moveGroup.redMoves[0]) {
            <span class="move"
              [class.selected]="isSelectedMove(groupIndex * 4)"
              (click)="onSelection(groupIndex * 4)"
            >{{ moveGroup.redMoves[0] }}</span>
          }
          @if (moveGroup.redMoves[1]) {
            <span class="move"
              [class.selected]="isSelectedMove(groupIndex * 4 + 1)"
              (click)="onSelection(groupIndex * 4 + 1)"
            >{{ moveGroup.redMoves[1] }}</span>
          }
        </div>
        <div class="move-cell blue-moves">
          @if (moveGroup.blueMoves[0]) {
            <span class="move"
              [class.selected]="isSelectedMove(groupIndex * 4 + 2)"
              (click)="onSelection(groupIndex * 4 + 2)"
            >{{ moveGroup.blueMoves[0] }}</span>
          }
          @if (moveGroup.blueMoves[1]) {
            <span class="move"
              [class.selected]="isSelectedMove(groupIndex * 4 + 3)"
              (click)="onSelection(groupIndex * 4 + 3)"
            >{{ moveGroup.blueMoves[1] }}</span>
          }
        </div>
      </div>
    }
  </div>
</div>
@if (!isSpectator) {
  <div>
    @if (!gameFinished) {
      <div class="btns">
        <button mat-icon-button matTooltip="Give up" (click)="giveUp()">
          <mat-icon>flag</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Offer draw" (click)="draw()">
          <mat-icon>volunteer_activism</mat-icon>
        </button>
      </div>
    }
  </div>
}
