@if (errorMessage) {
  <div class="status-screen" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon color="warn" class="status-icon">warning</mat-icon>
    <h2 class="status-title">{{ errorMessage }}</h2>
    <p class="status-subtitle">Please try again in a moment.</p>
  </div>
}

@if (!errorMessage && !fetched) {
  <div class="status-screen" fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
    <h3 class="status-title">Loading...</h3>
  </div>
}

@if (!errorMessage && fetched) {
  <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-table [dataSource]="dataSource" class="table-box">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.rating }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row (click)="openProfile(row)" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
}
