<div class="main-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <form class="frm" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="input" matInput #box>
    </mat-form-field>
    </form>
    <mat-table [dataSource]="dataSource" class="table-box">

        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef > Position </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index"> {{i +1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef > Username </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="rating">
          <mat-header-cell *matHeaderCellDef > Rating </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.rating}} </mat-cell>
        </ng-container>
  
  
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row (click)="openProfile(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  
</div>  
